<div class="container">

  <div class="card m-5 p-3">
      <div class="card-body">
        <!-- <form (submit)="filterById()">
          <label>
              Min
              <input type="number" name="min" id="min" [(ngModel)]="min" />
          </label>
          <label>
              Max
              <input type="number" name="max" id="max" [(ngModel)]="max" />
          </label>
          <button class="btn btn-primary" type="submit">Filter by ID</button>
      </form>
      <br /> -->


          <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Phone number</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user of allUsers">
                  <td>{{ user.id }}</td>
                  <td>{{ user.title }}</td>
                  <td>{{ user.price }}</td>
                  <td>{{ user.details }}</td>
                  <td>ddd</td>
              </tr>
              </tbody>
          </table>
      </div>

  </div>




</div>
